#activities{
  background-size: cover;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(223,252,255,1)), to(rgba(166,226,231,1)));
  background: -o-linear-gradient(bottom, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
  background: linear-gradient(0deg, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
  padding-top: 60px;
}

.activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  }

#activities h2 {
  margin-bottom: 32px;
}

.activitie-card {
  text-decoration: none;
  text-align: justify;
  color: black;
  height: 340px;
  width: 340px;
  background-color: #f3feff;
  margin: 16px;
  border-radius: 5px;
  padding: 24px;
  -webkit-box-shadow: 0 0 10px rgba(79, 127, 121, 0.8);
          box-shadow: 0 0 10px rgba(79, 127, 121, 0.8);
  position: relative;

}

.top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-right: 8px;
  color: #FF7477;
  margin-bottom: 16px;
}

.activitie-card h3 {
  color: #FF7477;
  text-shadow: 1px 1px 10px rgba(118,216,221,0.5);
}

.activitie-card a {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #FF7477;
  opacity: 0.6;
  text-decoration: none;
}
.activitie-card a:hover {
  color: #FF7477;
  opacity: 1;
  }

.note {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.note img {
  width: 25px;
  height: 25px;
}

.activities .photo {
  height: 340px;
  width: 340px;
  overflow: hidden;
  background: cover;
  margin: 16px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px rgba(79, 127, 121, 0.8);
          box-shadow: 0 0 20px rgba(79, 127, 121, 0.8);
}

.zoom {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; /* Animation */
}
.zoom:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  color: black;
}
