.activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 32px;
}
.activitie-card {
  text-decoration: none;
  text-align: justify;
  color: black;
  height: 340px;
  width: 340px;
  background-color: #f3feff;
  margin: 16px;
  border-radius: 5px;
  padding: 24px;
  box-shadow: 0 0 20px rgba(79, 127, 121, 0.8);
}

.top-card {
  display: flex;
  justify-content: space-evenly;
  padding-right: 8px;
  color: #FF7477;
  margin-bottom: 16px;
}

.activitie-card h4 {
  color: #FF7477;
  text-shadow: 1px 1px 10px rgba(118,216,221,0.5);
}

.note {
  display: inline-flex;
  width: 20px;
  height: 20px;
}

.activities .photo {
  height: 340px;
  width: 340px;
  overflow: hidden;
  background: cover;
  margin: 16px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(79, 127, 121, 0.8);
}

.zoom {
  transition: transform .2s; /* Animation */
}
.zoom:hover {
  transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  color: black;
}
