#apropos {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(223,252,255,1)), to(rgba(166,226,231,1)));
  background: -o-linear-gradient(top, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
  background: linear-gradient(180deg, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
  background-size: cover;
  padding-top: 80px;
}

.apropos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*width: 500px;*/
  margin-left: 50px;
  margin-right: 50px;
}
.description-card {
  height: auto;
  margin-top: 16px;
  text-align: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2D2D2A;
}

.description-card h3 {
  color: #FF7477;
  text-align: right;
}

.apropos img {
  -webkit-clip-path: polygon(31% 3%, 88% 19%, 100% 100%, 5% 100%);
          clip-path: polygon(31% 3%, 88% 19%, 100% 100%, 5% 100%);
  margin:0;
}
