#apropos {
  background: linear-gradient(180deg, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
  background-size: cover;
  padding-top: 80px;
}

.apropos {
  display: flex;
}

.description {
  align-items: center;
  width: 500px;
  margin-left: 50px;
}
.description-card {
  height: auto;
  margin-top: 16px;
  text-align: justify;
  align-items: center;
  color: #2D2D2A;
}

.description-card h3 {
  color: #FF7477;
  text-align: right;
}


.apropos img {
  margin-right: 50px;
  clip-path: polygon(31% 3%, 88% 19%, 100% 100%, 5% 100%);
  box-shadow: 0 0 10px rgba(79, 127, 121, 0.5);
}
