.apropos {
  margin-top: 48px;
  display: flex;
}
.description {
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.description-card {
  height: auto;
  width: 300px;
  margin: 16px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding: 16px;
  color: #2D2D2A;
}
.description-card h4 {
  color: #FF7477;
}
.apropos img {
  width: 500px;
}
