.main-wrapper{
  background: linear-gradient(180deg, rgba(124,207,212,1) 0%, rgba(199,249,254,1) 100%);
  font-family: 'Poppins', sans-serif;
  color: #2D2D2A;
}

section {
margin-top: 56px;
margin-bottom: 56px;
}

#index {
  position: relative;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 10px 50px 10px 50px;
  background-color: #88D6DB;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  margin-bottom: 16px;
}


#logo {
  height: 100px;
  width: auto;
}

#navbar-table {
  display: inline-block;
  flex-wrap: flex-wrap;
}
#navbar-table a {
  color: #2D2D2A;
  opacity: 0.85;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
#navbar-table a:hover {
  opacity: 1;
  color: #FF7477;
  border-bottom: 3px solid #FF7477;
}

.img-back {
  overflow: hidden;
  height: 500px;
  position: relative;
}
.img-back h2 {
  color: #f3feff;
  text-align: center;
  top: 40%;
  z-index: 1;
  position: relative;
  font-weight: bold;
  text-shadow: 1px 1px 10px rgba(118,216,221,0.5);
}

.img-back img {
  position: absolute;
  align-items: center;
  justify-content: center;
  width:100%;
  }

.testimonials {
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
  margin-top: 25px;
  color: #FF7477;
}

.testimonial-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px 0px 15px;
  margin-bottom: 32px;
}

.testimonial-card {
  background-color: #f3feff;
  font-size: 16px;
  width: 300px;
  margin: 16px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding: 16px;
  box-shadow: 0 0 20px rgba(79, 127, 121, 0.8);
}


.testimonial-card h6 {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  padding: 0px 50px;
  color: #2D2D2A;
  border-top: solid 2px rgba(118,216,221,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #2D2D2A;
  opacity: 0.85;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #FF7477;
}
