
@media (max-width: 480px) {

.main-wrapper {
position: relative ;
width: 100vw ;
margin: 0;
padding: 0;
background: linear-gradient(180deg, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
}

#navbar {
  width: 100vw ;
}

#navbar-table a {
display: none ;
}

#index {
  position: relative;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  padding: 5% 10%;
  /*background-color: #88D6DB;*/
  background: linear-gradient(180deg, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
  box-shadow: 0px 0px 10px 3px  rgba(0, 0, 0, 0.2);
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

#logo {
  height: 60px;
  width: auto;
}


.img-back {
  display: flex;
  overflow: hidden;
  width: 100vw;
}

.img-back h1 {
  color: #f3feff;
  text-align: center;
  bottom: 6%;
  left: 0;
  right: 0;
  z-index: 2;
  position: absolute;
  font-weight: bold;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  font-size: 1.5em;
}

.img-back img {
  position: relative;
  align-items: center;
  justify-content: center;
  width:100%;
  }

.testimonials {
  display: none;
}



.footer {
  background: linear-gradient(0deg, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
  font-size: 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: rgba(0, 0, 0, 0.5);
  border-top: solid 2px rgba(118,216,221,0.3);
}

/*ACTIVITIES*/

#activities h2 {
  font-size: 1.5em;
}

.activitie-card {
  text-decoration: none;
  text-align: justify;
  color: black;
  width:80vw;
  background-color: #f3feff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(79, 127, 121, 0.8);
  position: relative;
}

.activitie-card p {
  font-size: 1em;
  padding-bottom: 16px;
}

.top-card {
  align-items: center;
  justify-content: center;
  color: #FF7477;
}

.activitie-card h4 {
  color: #FF7477;
  text-shadow: 1px 1px 10px rgba(118,216,221,0.5);
  font-size: 1.5em;
  margin : 0;

}

.activitie-card a {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #FF7477;
  opacity: 0.6;
  text-decoration: none;
}
.activitie-card a:hover {
  color: #FF7477;
  opacity: 1;
  }

.note {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.note img {
  width: 5vw;
}

.activities .photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.testimonials {
  display: none;
}

/*A PROPOS*/

.apropos {
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.description {
  align-items: center;
  width: 100%;
}

.description-card {
  height: auto;
  margin-top: 16px;
  text-align: justify;
  align-items: center;
  color: #2D2D2A;
}

.description-card h3 {
  color: #FF7477;
  text-align: right;
}

.apropos img {
  width: 50%;
  height: 50%;
}

/* TARIFS */
 #price {
  padding-top: 80px;
  width: 100%;
}

.where {
  text-align: center;
  padding: 0;
  width: 80vw;
  margin: auto;
}

.where h2 {
  margin: 16px;
  }

.cours {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;
}

.cours .photo {
  display: none;
}

.forfait {
  font-weight: bold;
  width: 80vw;
  margin: 40px;
  text-align: center;
  background-color: #f3feff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(79, 127, 121, 0.8);
}

.forfait h4 {
  color: #FF7477;
  padding-bottom: 18px;
}

.forfait p {
  color: #2D2D2A;
  opacity: 0.8;
  margin-bottom: 16px;
}
.forfait .seance {
  position: absolute;
  bottom: -50px;
  left: 110px;
}

.link-price {
  color: #FF7477;
  text-decoration: none;
  opacity: 0.6;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 0.8em;
  margin-right: 56px;
}
.service img {
  height: 60px;
}

 /* CONTACT */
.contact {
  padding-top: 80px;
  width: 100vw;
  position: relative;
}

.contact-form {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.contact img {
  width: 25%;
  height: auto;
  position: absolute;
  right: 25px;
  top: 173px;
}

.contact h4 {
  color: #FF7477;
  text-align: center;
  margin-bottom: 32px;
  padding-bottom: 32px;
}


.tel {
  line-height: 12px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 32px;
}

.tel p{
  color: #2D2D2A;
  opacity: 0.85;
  margin-bottom: 32px;
}

.tel a {
  color: #2D2D2A;
  opacity: 0.85;
  text-decoration: none;
  font-size: 32px;
  padding: 0px 10px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.tel a:hover {
  opacity: 1;
  color: #FF7477;
}


form {
  /* Uniquement centrer le formulaire sur la page */
  /*margin: 0 auto;
  width: 500px;*/
  /* Encadré pour voir les limites du formulaire */
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 48px;
  width: 80vw;
  margin : auto;
}




label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  width: 80vw;
  text-align: center;
  margin-bottom: 16px;
}

input, textarea {
  /* Pour que tous les champs texte aient la même dimension */
  width: 80vw;
  box-sizing: border-box;
  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: solid 1px rgba(118,216,221,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background-color: #f3feff;
  border-radius : 5px;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  outline: none;
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.5);
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;
  /* Pour donner assez de place pour écrire du texte */
  height: 120px;
}

button {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  border-radius: 10px;
  background-color: #FF7477;
  opacity: 0.85;
  color: #f3feff;
  border: none;
  padding: 12px 32px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin-top: 12px;
  font-weight: bolder;
}

button:hover {
  background-color: #FF7477;
  opacity: 1;
  color: #f3feff;
}



}
