
@media (max-width: 480px) {

.main-wrapper {
position: relative ;
width: 100vw ;
margin: 0 ;
background: linear-gradient(180deg, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
}

#navbar {
  width: 100vw ;
}

#navbar-table a {
display: none ;
}

#index {
  position: relative;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 3em;
  padding: 5% 10%;
  /*background-color: #88D6DB;*/
  background: linear-gradient(180deg, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
  box-shadow: 0px 0px 10px 3px  rgba(0, 0, 0, 0.2);
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  margin-bottom: 2em;
}

#logo {
  height: 60px;
  width: auto;
}


.img-back {
  display: flex;
  overflow: hidden;
  width: 100vw;
}

.img-back h1 {
  color: #f3feff;
  text-align: center;
  bottom: 6%;
  left: 0;
  right: 0;
  z-index: 2;
  position: absolute;
  font-weight: bold;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  font-size: 1.5em;
}

.img-back img {
  position: relative;
  align-items: center;
  justify-content: center;
  width:100%;
  }

.testimonials {
  display: none;
}



.footer {
  background: linear-gradient(0deg, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
  font-size: 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: rgba(0, 0, 0, 0.5);
  border-top: solid 2px rgba(118,216,221,0.3);
}

/*ACTIVITIES*/

#activities h2 {
  font-size: 1.5em;
}

.activitie-card {
  text-decoration: none;
  text-align: justify;
  color: black;
  width:80vw;
  background-color: #f3feff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(79, 127, 121, 0.8);
  position: relative;
}

.activitie-card p {
  font-size: 1em;
  padding-bottom: 16px;
}

.top-card {
  align-items: center;
  justify-content: center;
  color: #FF7477;
}

.activitie-card h4 {
  color: #FF7477;
  text-shadow: 1px 1px 10px rgba(118,216,221,0.5);
  font-size: 1.5em;
  margin : 0;

}

.activitie-card a {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #FF7477;
  opacity: 0.6;
  text-decoration: none;
}
.activitie-card a:hover {
  color: #FF7477;
  opacity: 1;
  }

.note {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.note img {
  width: 5vw;
}

.activities .photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.testimonials {
  display: none;
}

/*A PROPOS*/

.apropos {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
}


.description {
  align-items: center;
  width: 100%;
}

.description-card {
  height: auto;
  margin-top: 16px;
  text-align: justify;
  align-items: center;
  color: #2D2D2A;
}

.description-card h3 {
  color: #FF7477;
  text-align: right;
}

.apropos img {
  clip-path: circle(50% at 50% 50%);
  width: 50%;
  height: 50%;
  box-shadow: 0;
}


}
