 #price {
 /* padding-top: 56px;*/
  background-size: cover;
  background: linear-gradient(0deg, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
  padding-top: 80px;
}

.where {
  padding: 0 100px;
  text-align: center;

}

.where h2 {
  margin: 22px;
  }

.cours {
  display: flex;
  flex-wrap: flex-wrap;
  justify-content: center;
}
.cours .photo {
  width: 340px;
  margin: 16px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(79, 127, 121, 0.8);
}

.forfait {
  font-weight: bold;
  width: 340px;
  margin: 16px;
  text-align: center;
  background-color: #f3feff;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0 0 10px rgba(79, 127, 121, 0.8);
  position: relative;
}

.forfait h4 {
  color: #FF7477;
  padding-bottom: 18px;
}

.forfait p {
  color: #2D2D2A;
  opacity: 0.8;
}
.forfait .seance {
  position: absolute;
  bottom: -40px;
  right: 80px;
}

.link-price:hover {
  color: #FF7477;
  opacity: 1;
}

.link-price {
  color: #FF7477;
  text-decoration: none;
  opacity: 0.6;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
