.main-wrapper{
  background: #9DD9D2;
  font-family: 'Poppins', sans-serif;
  color: #2D2D2A;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 10px 50px 10px 50px;
}
#logo {
  height: 80px;
  width: auto;
}
.menu-table {
  display: inline-block;
}
.menu-table a {
  color: #2D2D2A;
  opacity: 0.85;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.menu-table a:hover {
  opacity: 1;
  color: #FF7477;
  border-bottom: 3px solid #FF7477;
}

.img-back {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('images/workout.jpeg');
  background-size: cover;
  opacity: 0.8;
}

.img-back h2 {
  color: #D3EEEB;
  position: relative;
  top: -100px;
  right: 250px;
}

.testimonials {
  align-items: center;
  justify-content: center;
}
h3 {
  text-align: center;
  margin-top: 25px;
  color: #FF7477;
}
.testimonial-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 15px 0px 15px;
  margin-bottom: 32px;
}
.testimonial-card {
  background-color: #D3EEEB;
  width: 25%;
  margin: 16px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding: 16px;
  box-shadow: 0 0 20px rgba(79, 127, 121, 0.8);
}
.testimonial-card h6 {
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  padding: 0px 50px;
  color: #2D2D2A;
  border-top: solid 2px rgba(79, 127, 121, 0.5);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #2D2D2A;
  opacity: 0.85;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #FF7477;
}

.apropos {
  display: flex;

}
.description {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.description-card {
  height: auto;
  width: 300px;
  background-color: #D3EEEB;
  margin: 16px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding: 16px;
  box-shadow: 0 0 20px rgba(79, 127, 121, 0.8);
}

.description-card h4 {
  color: #FF7477;
}

.apropos img {
  box-shadow: 0 0 20px rgba(79, 127, 121, 0.8);
  border-radius: 5px;
}

.contact {
  display: flex;
  height: 500px;
  justify-content: space-between;
}
.contact .form {
  width: 500px;
  margin-left: 200px;
  background-color: #D3EEEB;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  align-content: center;
  box-shadow: 0 0 20px rgba(79, 127, 121, 0.8);
}



}
.contact img {
  height: 500px;
  box-shadow: 0 0 20px rgba(79, 127, 121, 0.8);
}
