
.menu {
  background: #9DD9D2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 10px 50px 10px 50px;
  color: #2D2D2A;
}
#logo {
  height: 80px;
  width: auto;
}
.menu-table {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
}
.menu-table a {
  color: #2D2D2A;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.menu-table a:hover {
  opacity: 1;
}

.img-back {
height: 500px;
font-family: 'Poppins', sans-serif;
color: #D3EEEB;
display: flex;
align-items: center;
justify-content: center;
background-image: url('images/workout.jpeg');
background-size: cover;
opacity: 0.8;
}

.testimonials {
  background: #9DD9D2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  color: #2D2D2A;
}
