@media screen and (min-width: 480px) and (max-width: 767px) {

.main-wrapper {
  position: relative ;
  width: 100% ;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
}

#index {
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}
#logo {
  height: 60px;
  width: auto;
  position: absolute;
  left: 15px;
  top:15px;
}

#myLinks {
  display: block;
  padding: 32px 40px;
  background-color: #2D2D2A;
  opacity: 0.85;
}
#myLinks .topone {
  padding-top: 48px;
}

#myLinks a {
  font-size: 18px;
  display: flex;
  flex-flow: column;
  text-decoration: none;
  text-align: right;
  color: white;
}

#myLinks a:hover {
  color: #FF7477;
  border-bottom: none;
}

/* Style navigation menu links */
.topnav a {
  color: rgb(182 243 249);
  padding: 15px 15px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 30%;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 15px;
  top:15px;
  background: black;
  opacity: 0.8;
}

#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 5% 10%;
  /*background-color: #88D6DB;*/
  background: linear-gradient(180deg, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
  box-shadow: 0px 0px 10px 3px  rgba(0, 0, 0, 0.2);
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100%;
}

.img-back {
  display: flex;
  width: 100%;
  height: auto;
}

.img-back h1 {
  color: #f3feff;
  padding: 22px;
  font-size: 1.6em;
  text-align: center;
  bottom: 10%;
  position: absolute;
  font-weight: bold;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.img-back img {
  margin-top:60px;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}

.footer {
  width: 100%;
  background: linear-gradient(0deg, rgba(223,252,255,1) 0%, rgba(166,226,231,1) 100%);
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: rgba(0, 0, 0, 0.5);
  border-top: solid 2px rgba(118,216,221,0.3);
}

/*ACTIVITIES*/
#activities h2 {
  font-size: 1.5em;
}

.activitie-card {
  text-decoration: none;
  text-align: justify;
  color: black;
  height: auto;
  background-color: #f3feff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(79, 127, 121, 0.8);
  position: relative;
  height: 320px;
}

.activitie-card p {
  font-size: 1em;
  padding-bottom: 16px;
}

.top-card {
  align-items: center;
  justify-content: center;
  color: #FF7477;
}

.activitie-card h4 {
  color: #FF7477;
  text-shadow: 1px 1px 10px rgba(118,216,221,0.5);
  font-size: 1.5em;
  margin : 0;
}

.activitie-card a {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #FF7477;
  opacity: 0.6;
  text-decoration: none;
}
.activitie-card a:hover {
  color: #FF7477;
  opacity: 1;
}

.note {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.note img {
  width: 25px;
}

.activities .photo {
  height: 320px;
  overflow: hidden;
}

/*TESTIMONIALS */
.testimonial-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*A PROPOS*/
.apropos {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.description {
  align-items: center;
}

.description-card {
  height: auto;
  margin-top: 16px;
  text-align: justify;
  align-items: center;
  color: #2D2D2A;
}

.description-card h3 {
  color: #FF7477;
  text-align: right;
}

.apropos img {
  width: 50%;
  height: 50%;
  clip-path: circle(50% at 50%);
  margin: 0px 30px;
}

/* TARIFS */
 #price {
  padding-top: 80px;
  width: 100%;
}

.where {
  text-align: justify;
  width: 80%;
  padding: 0;
  margin: auto;
}

.where h2 {
  margin: 16px;
}

.cours {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;
}

.cours .photo {
  display: none;
}

.forfait {
  font-weight: bold;
  width: 80vw;
  margin: 40px;
  text-align: center;
  background-color: #f3feff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(79, 127, 121, 0.8);
}

.forfait h4 {
  color: #FF7477;
  padding-bottom: 18px;
}

.forfait p {
  color: #2D2D2A;
  opacity: 0.8;
  margin-bottom: 16px;
}
.forfait .seance {
  position: absolute;
  bottom: -65px;
  left: 110px;
}

.link-price {
  color: #FF7477;
  text-decoration: none;
  opacity: 0.6;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  margin-right: 56px;
}
.service img {
  height: 100px;
}

 /* CONTACT */
.contact {
  position: relative;
  margin: auto;
  width: 100%;
}

.contact-form {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.contact-photo1 {
  display: block;
  width: 100%;
  height: auto;
}

.contact-photo2 {
  display: none;
}

.contact h4 {
  color: #FF7477;
  text-align: center;
  margin-bottom: 24px;
}

.icons {
  margin-bottom: 24px;
}

.tel {
  line-height: 12px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}

.tel p{
  color: #2D2D2A;
  opacity: 0.85;

}

.tel a {
  color: #2D2D2A;
  opacity: 0.85;
  text-decoration: none;
  font-size: 32px;
  padding: 0px 10px;
 /* margin-bottom: 16px;
  margin-top: 16px;*/
}

.tel a:hover {
  opacity: 1;
  color: #FF7477;
}

form {
  /* Uniquement centrer le formulaire sur la page */
  /*margin: 0 auto;
  width: 500px;*/
  /* Encadré pour voir les limites du formulaire */
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 48px;
  margin : auto;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  text-align: center;
  margin-bottom: 16px;
  width: 100%;
}

input, textarea {
  /* Pour que tous les champs texte aient la même dimension */
  box-sizing: border-box;
  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: solid 1px rgba(118,216,221,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background-color: #f3feff;
  border-radius : 5px;
  width: 100%;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  outline: none;
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.5);
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;
  /* Pour donner assez de place pour écrire du texte */
  height: 140px;
}

button {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  border-radius: 10px;
  background-color: #FF7477;
  opacity: 0.85;
  color: #f3feff;
  border: none;
  padding: 12px 32px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin-top: 12px;
  font-weight: bolder;
}

button:hover {
  background-color: #FF7477;
  opacity: 1;
  color: #f3feff;
}
}


